		h1
		{
			color: red;
			text-align: center;
			margin-bottom: 30px;
		}

		body
		{
			text-align: center;
			/*background-color: #F0EAD6;*/
		}

		input
		{
			text-align: center;
			width: 32px;			/* if changing width and height, then change of .box1,.. also*/
			height: 34px;		/*maintain the diff of 2*/
			font-size: 25px;
		}

		.digbtns button
		{
			margin-bottom: 25px;
			margin-right: 10px;
			border-radius: 7px;
			background-color: white;
  			border: 2px solid #008CBA;
		}

		.smallbox div
		{
			display: inline-block;	 /*to make block of 3 together*/	
		}

		.box1 , .box2 , .box3
		{
			width: 120px;	/*width of (input+4)*3 */
			height: 120px;
			display: inline-block;	

			border: 1px solid red;
		}

		.a, .b, .c
		{
			border-top: 2px solid black;
		}

		.c, .f, .i
		{
			border-right: 2px solid black;
		}

		.g, .h, .i
		{
			border-bottom: 2px solid black;
		}

		.a, .d, .g
		{
			border-left: 2px solid black;
		}

		button
		{
			font-size: 25px;
			border-radius: 7px;
			background-color: white;
  			border: 2px solid #008CBA;
		}

		#reset
		{
			margin: 50px;
			margin-left: -20px;
		}

		#reset:hover , #solve:hover
		{
			background-color: #82E15A;
		}

		#solve
		{
			margin-left: 20px;
		}

		.colorRed
		{
			color: white;
			background-color: #FF6F61;
		}
